---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <h1>{blok.heading}</h1>
  <div class="container mx-auto flex gap-1">
    {
      blok.image?.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
    }
    <img src={blok.image?.filename} alt={blok.alt?.filename} class="" />
  </div>
</div>
